{% extends "base.html" %}
{% block title %}Add Product{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="container">
  <div class="card card-body">
    <h3 class="text-info font-weight-bold">Add Product</h3>

    <form class="text-dark" method="POST" action="/add-product" enctype="multipart/form-data">
      <div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
      </div>
      <div class="form-group">
        {{ render_field(form.product_name, class="form-control w-50") }}
      </div>
      <div class="form-group">
        {{ render_field(form.product_desc, class="form-control w-75") }}
      </div>
      <div class="form-group">
        {{ render_field(form.product_cat, class="form-control w-75") }}
      </div>
      <div class="form-group">
        {{ render_field(form.product_price, class="form-control w-25") }}
      </div>
      <div class="form-group">
        {{ render_field(form.product_image, class="form-control") }}
      </div>
      <div class="mt-4">
        <button type="submit" class="btn btn-success">Add</button>
        <a href="/shopNow" class="btn btn-danger">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}