{% extends "base.html" %}
{% block title %}My Cart{% endblock %}


{% block content %}
<h1 class = "text-white">Payment Successful</h1>
<hr style = "color: white;">
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="text-center">
            <a class="w-100 btn btn-primary btn-lg mb-5" href="/">Return to Home page</a>
        </div>
    </div>
    <div class="col">
        <div class="text-center">
            <a class="w-100 btn btn-primary btn-lg mb-5" href="/shopNow">Return to Catalog</a>
        </div>
    </div>
    <div class="col"></div>
</div>


{% endblock %}