{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
% from "includes/_formHelper.html" import render_field %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-title text-center">Reset Password</h4>
                <form method="POST" action="{{ url_for('auth.reset_token', token=token) }}">
                    {{ form.hidden_tag() }}
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                    <div class="form-group">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                        {% if form.password.errors %}
                            <div class="alert alert-danger mt-2">
                                {% for error in form.password.errors %}
                                    <p class="mb-0">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-label") }}
                        {{ form.confirm_password(class="form-control") }}
                        {% if form.confirm_password.errors %}
                            <div class="alert alert-danger mt-2">
                                {% for error in form.confirm_password.errors %}
                                    <p class="mb-0">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group text-center">
                        {{ form.submit(class="btn btn-primary btn-block") }}
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}

