{% extends "base.html" %}
{% block title %}Shopping{% endblock %}

{% block content %}
<div class = "row">
    <div class = "col flex-grow-0">
        {% if current_user.is_authenticated and current_user.user_type == 'staff' %}
        {% include 'includes/_sidebarStaff.html' %}
        {%else%}
        {% include 'includes/_sidebar.html' %}
        {% endif %}    </div>
    <div class = "col">
        <div class = "row">
            {% if products %}
                {% for product in products %}
                    <div class="col-md-3 mb-3">
                        <div class="card mb-3 box-shadow h-100">
                            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x225]" src="{{ url_for('shop.get_image', filename=product['product_id']) }}"
                                onerror="this.src = 'data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18d301ea179%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18d301ea179%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.82500076293945%22%20y%3D%22118.74000034332275%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E'"
                                data-holder-rendered="true"
                                style="height: 225px;">
                            <div class="card-body">
                                <h5 class="card-title">{{  product['product_name'] }}</h5>
                                <p class="card-text">{{ product['product_desc'] }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <form action="{{ url_for('shop.add_to_cart', product_id=product['product_id'] )}}" method="POST">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                                            <button type="submit" class="rounded"><i class="fa fa-fw fa-shopping-cart"></i>Add to Cart</button>
                                        </form>
                                    </div>
                                    <small class="text-muted">${{ product['product_price'] }}0</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
</div>
    {% else %}
    <div class="text-white">
        <h3 class="text-center font-weight-bold">No products at the moment</h3>
    </div>
    {% endif %}

{% endblock %}